body{
    font-family: 'Lato', sans-serif;
}

.btn{
    border-radius: 5px;
    background: #E55473;
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}

.flower-pic{
    margin-bottom: 0;
}

.banner{
    padding: 30px 200px 0px 200px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.banner-content{
    margin-top: 50px;
    width: 700px;
}

.banner-title{
    color: #ffffff;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;

}

.banner-description{
    color: rgba(255, 255, 255, 0.6);
    font-family: Lato;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
}

/* feature-flower style part start here */

.flower-types-title, .instagram-title{
    padding: 30px 660px 0px 660px;
    max-width: 600px;
}

.featured-description, .instagram-description{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 800;
}

.featured-flower, .instagram{
    text-align: center;
    color: #272727;
    font-size: 28px;
}

.flower-types{
    margin-top: 100px;
}
/* three flowers */

.flowers{
    /* justify-content: space-around; */
    /* padding: 30px 200px 0px 200px; */
    margin: 70px 240px 200px 400px;
    display: flex;
    gap: 24px;
}

.box1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 310px;
    height: 428px;
    margin: 10px;
    padding: 50px 20px 0 20px;
    text-decoration: underline;
    text-align: center;
    box-shadow: 0px 66px 50px 0px rgba(255, 0, 0, 0.06);
}

.box2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 310px;
    height: 428px;
    padding: 50px 20px 0 20px;
    margin: 10px;
    text-decoration: underline;
    text-align: center;
    box-shadow: 0px 66px 50px 0px rgba(112, 89, 243, 0.06);
}

.box3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 310px;
    height: 428px;
    margin: 10px;
    padding: 50px 20px 0 20px;
    text-decoration: underline;
    text-align: center;
    box-shadow: 0px 66px 50px 0px rgba(154, 154, 156, 0.06);
}

.fl2{
    margin-top: 64px;
}

.move-fl2{
    padding-top: 50px;
}

.flower-image1{
    width: auto;
}

.flower-image3{
    width: 285px;
}

.flower-image2{
    width: 330px;
}


/* deals and offers */

.hot-deals > div{
    padding-bottom: 50px;
}

.deals{
    padding: 30px 200px 0px 200px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 100px;
}

.deals-content{
    text-align: center;
    width: 600px;
    padding-left: 250px;
    padding-top: 150px;
}


.deal-flower-move{
    padding-right: 230px;
    padding-top: 60px;
}

.deals-title{
    color: white;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.deals-description{
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-family: Lato;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
}

.off{
    color:#E55473;
}

/* four flowers */

.four-flowers{
    display: flex;
    margin: 30px 200px 100px 200px;
}

.flower2{
    margin-left: 40px;
}


/* latest deals section */

.latest-deals{
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    padding-bottom: 600px;
    margin-left: 220px;
    margin-top: 200px;
}

.l-title h2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.l-title p{
    color: black;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
}

.l-title{
    margin-right: 220px;
    padding-top: 50px;
}

.email{
    display: flex;
    margin-left: 300px;
    padding-top: 50px;
}

.text-email{
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

.btn2{
    border-radius: 5px;
    background: #E55473;
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
    margin-left: 20px;
}
/* footer */
.foot{
    background-color: black;
    justify-content: space-around;
    padding-left: 550px;
    padding-bottom: 100px;
    margin-top: 50px;
}

.content{
    text-align: center;
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 800px;
}
.conh{
    padding-top: 500px;
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    line-height: normal;
}

.end{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.flower-white{
    color: white;
}

.line{
    color: #FFF;
}

/* and more */

.and-more-contents{
    display: flex;
}

.and-more{
    background-color: rgb(255, 255, 255);
    margin: 30px 200px 100px 200px;
    padding-top: 100px;
}

.move-mpic1{
    padding-bottom: 50px;
}

.move-mpic2{
    padding-top: 50px;
    
}

.movep1{
    width: 1000px;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 30px 30px 50px 0px rgb(228, 224, 223);
}

.and-more-description{
    color: #000000;
    font-family: Lato;
    font-size: 28px;
    font-weight: 800;
    line-height: normal;
    text-align: left;

}

.more-header{
    text-align: center;
    color: #000000;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    line-height: normal;
}

.part1{
    margin: 30px 40px 20px 40px;
    /* margin: 40px; */
    width: 600px;
}

.part2{
    width: 600px;
    margin: 65px 40px 20px 40px;
}

.fseed{
    text-align: left;
    font-size: 48px;
}